<div class="container" style="margin-top: 20px;">
    <h2>
        List Of User
    </h2>
    <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Language</th>
                <th>View</th>

            </tr>
            <tr *ngFor="let u of userList">
                <td>{{u.gender==='female'? 'Miss  ':'Mrs  '}}{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.mobile}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.topic}}</td>
                <td><a class="nav-link active" aria-current="page" routerLinkActive="active"
                    [routerLink]="['/dispaly']"><mat-icon>visibility</mat-icon></a></td> 
            </tr>
    </table>
</div>