


  
    <div class="container">
     
      <form class="border bg-secondary text-white  w-50 p-5" #userForm="ngForm" novalidate>
        <h1 class="h4 mb-4">Login</h1>
    
        <div class="form-login">
          <h3><label>userName</label></h3>
          <input type="text" #username="ngModel" class="form-control" [class.is-invalid]="username.invalid && username.touched" name="username" [(ngModel)]="userLogin.username" required> 
          <small class="text-danger" [class.d-none]="username.valid || username.untouched">Name is required</small>
        </div><br>
    
        <div class="form-login">
          <h3><label>Password</label></h3>
          <input type="password" #password="ngModel" class="form-control" [class.is-invalid]="password.invalid && password.touched" name="password" [(ngModel)]="userLogin.password" required> 
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small><br>
        </div>
    
      <button [disabled]="userForm.form.invalid" color="info"  type="submit" class="btn btn-primary" (click)="btnClick()">Login</button><br><br>
       
    
     </form>
    </div>

    <!-- <form class="text-center border border-light p-5">
      <p class="h4 mb-4">Subscribe</p>
      <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">
    
      <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">
     
      <button mdbBtn color="info" block="true" type="submit">Sign in</button>
    </form> -->

    <router-outlet></router-outlet>
  